<!doctype html>
<html>
<head>    
<title>Top valor - Comprar e vender - Cadastro do {{titulo}}</title>
</head>

<body>
    <h4>Cadastro de {{titulo}}</h4>
    <form action="/anuncio/novo" method="post">
        <p><label for="nome">Nome</label></p>
        <p><input type="text" id="nome" name="nome"></p>

        <p><label for="desc">Desc</label></p>
        <p><textarea rows="4" cols="50" id="desc" name="desc"></textarea></p>

        <p><label for="qtd">Quantidade</label></p>
        <p><input type="text" id="qtd" name="qtd"></p>

        <p><label for="preco">Preco</label></p>
        <p><input type="text" id="preco" name="preco"></p>

        <p><label for="cat">Categoria</label>
        <select id ="cat" name ="cat">
            {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.nome}}</option>
            </tr>
            {% endfor %}       
        </select></p>
        
        <p><label for="usu">Usuario</label>
        <input type="text" id="uso" name="uso"></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>
    <h1>Bem Vindo ao Top Valor! anuncie suas vendas com mais facilidade</h1>
</body>

</html>